.MuiToolbar-root {
  background-color: #222222 !important;
}

.MuiPaper-root {
  background-color: #444444 !important;
  color: white !important;
  
  svg {
    color: white;
  }
}

.MuiListItem-root {
  display: block !important;
}

.MuiListItemText-root{
  display: inline-block !important;
}

.MuiListItemIcon-root {
  display: inline-block !important;
}